.inputContainer {
  display: block;
  text-align: center;
  margin: auto;
  padding: 1rem;
  align-items: center;
}

.buttonsContainer {
  align-items: space-between;
}

button {
  padding: 0.5rem;
  margin: 0.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h2 {
  font-size: 1rem;
  color: #423f41;
}
