.scoringContainer {
  display: flex;
  margin: auto;
  padding: 5px;
  align-items: center;
  width: 80%;
}

table {
  margin: auto;
  background-color: white;
  text-align: center;
  border: 1px solid #231f20;
  border-radius: 1px;
  table-layout: fixed;
  width: 90%;
  padding: 0.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

tr {
  padding: none;
  margin: none;
}
th {
  font-size: 0.75rem;
}
td {
  border: 1px solid #77002e;
  height: 1.5rem;
  width: 1.75rem;
}

.left {
  border-bottom: none;
  color: black;
}

.extraRoll {
  background-color: #e1d9d4;
}

.frameTotal {
  border-top: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .scoringContainer {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .scoringContainer {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .scoringContainer {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .scoringContainer {
    width: 60%;
  }
}
